#### Homework-3
##### Total number of points: 70
#### Due date: September 29, 2022

Before you submit this homework, make sure everything runs as expected. First, restart the kernel (in the menu, select Kernel → Restart) and then run all cells (in the menubar, select Cell → Run All). You can discuss with others regarding the homework but all work must be your own.

This homework will test your knowledge on data manipulation, manipulating strings and feature preprocessing. The Python notebooks shared will be helpful to solve these problems.  

Steps to evaluate your solutions:

Step-1: Try on Colab or Anaconda (Windows: https://docs.anaconda.com/anaconda/install/windows/ ; Mac:https://docs.anaconda.com/anaconda/install/mac-os/ ; Linux: https://docs.anaconda.com/anaconda/install/linux/)

Step-2: Open the Jupyter Notebook by first launching the anaconda software console

Step-3: Open the homework's .ipynb file and write your solutions at the appropriate location "# YOUR CODE HERE"

Step-4: You can restart the kernel and click run all (in the menubar, select Cell → Run All) on the center-right on the top of this window.

Step-5: Now go to "File" then click on "Download as" then click on "Notebook (.ipynb)" Please DO NOT change the file name and just keep it as ".ipynb"

Step-6: Go to lms.rpi.edu and upload your homework at the appropriate link to submit this homework.


#### Please note that for any question in this assignment you will receive points ONLY if your solution passes all the test cases including hidden testcases as well. So please make sure you try to think all possible scenarios before submitting your answers.  
- Note that hidden tests are present to ensure you are not hardcoding. 
- If caught cheating: 
    - you will receive a score of 0 for the 1st violation. 
    - for repeated incidents, you will receive an automatic 'F' grade and will be reported to the dean of Lally School of Management.

Use the titanic dataset from this url ('https://raw.githubusercontent.com/rpi-techfundamentals/spring2019-materials/master/input/train.csv') and we will use the same dataset in some of the questions here below.

#### Q1. Shape of a Data Frame. 
1. Import pandas package as pd.
2. Read the file from the 'url' and load the data into dataframe 'df' with default index.
3. Set number of rows equal to the variable `rows` and the number of columns equal to the variable `cols`. 
4. Print out the number of rows and columns, clearly labeling each.

In [1]:

url='https://raw.githubusercontent.com/rpi-techfundamentals/spring2019-materials/master/input/train.csv'

# YOUR CODE HERE
import pandas as pd
df=pd.read_csv(url)
rows=df.shape[0]
cols=df.shape[1]
print(rows)
print(cols)

891
12

In [2]:
#DO NOT MODIFY/DELETE THIS CELL
assert rows==891
assert df['Age'].sum()==21205.17

In [3]:
#DO NOT MODIFY/DELETE THIS CELL

Now we will be using the above dataframe df to do some preprocessing operations on this data. All the required libraries for further processing will be loaded here.

In [4]:
import numpy as np
import pandas as pd
import re
from sklearn.model_selection import train_test_split

### Q2 Dataframe Basic Analyses
Determine how many first, second, and third class (assiging to the variables `class1`, `class2`, `class3`) passangers there are. 

*Hint -- Use value_counts operation*

In [5]:
#Your answer here. 

# YOUR CODE HERE
t=df['Pclass'].value_counts()

class1=t[1]
class2=t[2]
class3=t[3]
# print(class1)
# print(class2)
# print(class3)
type(t)

pandas.core.series.Series

In [6]:
#DO NOT MODIFY/DELETE THIS CELL
assert class1>0
assert class2>0
assert class3>0

In [7]:
#DO NOT MODIFY/DELETE THIS CELL

### Q3 Groupby

Now use a groupby statement to calculate the mean age (use the 'age' attribute) of passengers who are of different gender. 

Round the age to 2 decimal places (for example 3.14156 converts to 3.14 ) and assign the resulting variable to `female_age`, `male_age`.

In [8]:
#Your answer 

# YOUR CODE HERE
#df
t=df.groupby(['Sex'])['Age'].mean()
print(t)
female_age=t['female']
male_age=t['male']
female_age=round(female_age,2)
male_age=round(male_age,2)
print(female_age)
print(male_age)

Sex
female    27.915709
male      30.726645
Name: Age, dtype: float64
27.92
30.73

In [9]:
#DO NOT MODIFY/DELETE THIS CELL
assert female_age>0
assert isinstance(female_age, np.floating)
assert male_age>0 
assert isinstance(male_age, np.floating)

In [10]:
#DO NOT MODIFY/DELETE THIS CELL

### Q4 Split Dataframe

Now split the dataframe `df` into 3 different dataframes `dfclass1`, `dfclass2`, and `dfclass3` using the `Pclass` variable.

In [11]:
#Your answer

# YOUR CODE HERE
#df
dfclass1=df.loc[df['Pclass']==1]
dfclass2=df.loc[df['Pclass']==2]
dfclass3=df.loc[df['Pclass']==3]
dfclass1

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
23,24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S
...,...,...,...,...,...,...,...,...,...,...,...,...
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C

In [12]:
#DO NOT MODIFY/DELETE THIS CELL
assert len(dfclass1)>0
assert len(dfclass2)>0
assert len(dfclass3)>0
assert isinstance(dfclass1, pd.DataFrame)
assert isinstance(dfclass2, pd.DataFrame)
assert isinstance(dfclass3, pd.DataFrame)

In [13]:
#DO NOT MODIFY/DELETE THIS CELL

In [14]:
#DO NOT MODIFY/DELETE THIS CELL

In [15]:
#DO NOT MODIFY/DELETE THIS CELL

#### Q5 Filter Missing Values

Create a new dataframe `dfna1` from `df` which removes all rows in which *any* of the variables missing.

Create a new dataframe `dfna2` from `df` which removes all rows in which *all* of the variables columns `Age` and `Cabin`.

In [16]:

# YOUR CODE HERE
dfna1=df[df.isnull().T.any()==False]
#dfna1 = df.dropna()
print(dfna1)

dfna2=df.drop(['Age','Cabin'],axis=1)
print(dfna2)

     PassengerId  Survived  Pclass  \
1              2         1       1
3              4         1       1
6              7         0       1
10            11         1       3
11            12         1       1
..           ...       ...     ...
871          872         1       1
872          873         0       1
879          880         1       1
887          888         1       1
889          890         1       1

                                                  Name     Sex   Age  SibSp  \
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
6                              McCarthy, Mr. Timothy J    male  54.0      0
10                     Sandstrom, Miss. Marguerite Rut  female   4.0      1
11                            Bonnell, Miss. Elizabeth  female  58.0      0
..                                                 ...     ...   ...    ...
871   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)  female  47.0      1
872                           Carlsson, Mr. Frans Olof    male  33.0      0
879      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)  female  56.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
889                              Behr, Mr. Karl Howell    male  26.0      0

     Parch    Ticket     Fare        Cabin Embarked
1        0  PC 17599  71.2833          C85        C
3        0    113803  53.1000         C123        S
6        0     17463  51.8625          E46        S
10       1   PP 9549  16.7000           G6        S
11       0    113783  26.5500         C103        S
..     ...       ...      ...          ...      ...
871      1     11751  52.5542          D35        S
872      0       695   5.0000  B51 B53 B55        S
879      1     11767  83.1583          C50        C
887      0    112053  30.0000          B42        S
889      0    111369  30.0000         C148        C

[183 rows x 12 columns]
     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex  SibSp  Parch  \
0                              Braund, Mr. Owen Harris    male      1      0
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female      1      0
2                               Heikkinen, Miss. Laina  female      0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female      1      0
4                             Allen, Mr. William Henry    male      0      0
..                                                 ...     ...    ...    ...
886                              Montvila, Rev. Juozas    male      0      0
887                       Graham, Miss. Margaret Edith  female      0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female      1      2
889                              Behr, Mr. Karl Howell    male      0      0
890                                Dooley, Mr. Patrick    male      0      0

               Ticket     Fare Embarked
0           A/5 21171   7.2500        S
1            PC 17599  71.2833        C
2    STON/O2. 3101282   7.9250        S
3              113803  53.1000        S
4              373450   8.0500        S
..                ...      ...      ...
886            211536  13.0000        S
887            112053  30.0000        S
888        W./C. 6607  23.4500        S
889            111369  30.0000        C
890            370376   7.7500        Q

[891 rows x 10 columns]

In [17]:
assert len(dfna1)>0
assert len(dfna2)>0
assert isinstance(dfna1, pd.DataFrame)
assert isinstance(dfna2, pd.DataFrame)

In [18]:
#DO NOT MODIFY/DELETE THIS CELL

In [19]:
#DO NOT MODIFY/DELETE THIS CELL

### Q6 Stratified sampling 

Utilize the original dataframe 'df'.  

1. Set the `y` variable to the `Survived` column.
2. Set X to the `SibSp`,`Parch`, and `Fare` columns of the dataframe. 
3. Create `train_X`, `test_X`, `train_y`, `test_y` by doing a 50% 50% split with stratification by the `Survived` varaible. Use `random_state` equal to 123.

In [20]:
#Your answer

# YOUR CODE HERE
from sklearn.model_selection import train_test_split
df
y=df['Survived']

X=df[['SibSp','Parch','Fare']]


#train_x,test_x,train_y,test_y = train_test_split(train_data,train_target,test_size=test_size,random_state=random_state,stratify=train_target)

train_X,test_X,train_y,test_y = train_test_split(X,y,test_size=0.5,train_size=0.5,random_state=123)#y is label, and X is data
print(train_y)
print(test_y)

148    0
378    0
561    0
859    0
105    0
      ..
98     1
322    1
382    0
365    0
510    1
Name: Survived, Length: 445, dtype: int64
172    1
524    0
452    0
170    0
620    0
      ..
563    0
379    0
542    0
282    0
779    1
Name: Survived, Length: 446, dtype: int64

In [21]:
#DO NOT MODIFY/DELETE THIS CELL
assert len(train_X)>0
assert len(test_X)>0
assert isinstance(train_X, pd.DataFrame)
assert isinstance(test_X, pd.DataFrame)
assert isinstance(train_y, pd.Series)
assert isinstance(test_y, pd.Series)

In [22]:
#DO NOT MODIFY/DELETE THIS CELL

In [23]:
#DO NOT MODIFY/DELETE THIS CELL

In [24]:
#DO NOT MODIFY/DELETE THIS CELL

#### Q7  Feature Manipulation
1. Consider the original dataframe `df`. Create a copy of this and call it `dfage`.
2. Remove all the rows of `dfage` in which the `Age` value is missing. 
3. Then create a new column `dfage['Age_st']` which replaces each value in the 'age' attribute with the corresponding standardized value *rounded to 2 decimal places*. You are not modifying `dfage['Age']`.


*Hint: See this for definition of standardized value.  [https://en.wikipedia.org/wiki/Standard_score](https://en.wikipedia.org/wiki/Standard_score) You can use np.mean() and np.std() functions to compute the mean and standard deviation values.*

In [25]:

# YOUR CODE HERE
import numpy as np
dfage=df.copy()
dfage=df[dfage['Age'].isnull()==False]
mean=np.mean(dfage['Age'])
std=np.std(dfage['Age'])
t=lambda x:(x-mean)/std
dfage['Age_st']=df['Age'].copy()
dfage['Age_st']=dfage['Age_st'].apply(t)
dfage['Age_st']=round(dfage['Age_st'],2)
dfage

C:\Users\25696\AppData\Local\Temp\ipykernel_4800\1469251574.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfage['Age_st']=df['Age'].copy()
C:\Users\25696\AppData\Local\Temp\ipykernel_4800\1469251574.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfage['Age_st']=dfage['Age_st'].apply(t)
C:\Users\25696\AppData\Local\Temp\ipykernel_4800\1469251574.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfage['Age_st']=round(dfage['Age_st'],2)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Age_st
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,-0.53
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,0.57
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,-0.25
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,0.37
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0.37
...,...,...,...,...,...,...,...,...,...,...,...,...,...
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q,0.64
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,-0.19
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,-0.74
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,-0.25
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,0.16

In [26]:
assert len(dfage)>0
assert isinstance(dfage, pd.DataFrame)
assert 'Age_st' in dfage.columns

In [27]:
#DO NOT MODIFY/DELETE THIS CELL

In [28]:
#DO NOT MODIFY/DELETE THIS CELL

In [29]:
#DO NOT MODIFY/DELETE THIS CELL

#### Q8 Feature Creation 2
1. Create a copy of df called `df8`.
2. In `df8` create a feature called `stown` using `Embarked`.  

    For the `Embarked` is 'S' make `stown` 1. 
    
    Otherwise `stown` is 0.

In [30]:

# YOUR CODE HERE
df8=df.copy()
df8['stown']=df['Embarked'].copy()
df8['stown'] = df8['Embarked'].apply(lambda x: 1 if x=='S' else 0)
df8

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,stown
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,1
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,0
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,1
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,1
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,1
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,1
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,0
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,0

In [31]:
#DO NOT MODIFY/DELETE THIS CELL
assert set(df8['stown'])=={0,1}
assert df8.shape==(891, 13)

In [32]:
#DO NOT MODIFY/DELETE THIS CELL

### Q9. Beautiful Soup
Use the html content shared here below and parse it using the 'soup' object to 
assign all the unique 'Hometown' values to as a list object `hts`


Strip any leading or trailing white space and convert each value of the hometown in `hts` to a lower-case.


Print the final answer.

In [33]:


import requests
from bs4 import BeautifulSoup
import operator
import pandas as pd
import json
newtext = """
<p>
    <strong class="person1">YOB:</strong> 1990<br />
    <strong class="person1">GENDER:</strong> FEMALE<br />
    <strong class="person1">EYE COLOR:</strong> GREEN<br />
    <strong class="person1">HAIR COLOR:</strong> BROWN<br />
    <strong class="person1">GPA:</strong> 4<br />
    <strong class="person1">Hometown:</strong> Johnstown<br />
</p>

<p>
    <strong class="person2">YOB:</strong> 1993<br />
    <strong class="person2">GENDER:</strong> FEMALE<br />
    <strong class="person2">EYE COLOR:</strong> BROWN<br />
    <strong class="person2">HAIR COLOR:</strong> BLACK<br />
    <strong class="person2">GPA:</strong> 3.5<br />
    <strong class="person2">Hometown:</strong> Pittston<br />
</p>

"""
hts=[]
soup = BeautifulSoup(newtext)
# YOUR CODE HERE
#print(soup)

#soup.p
t=soup.findAll('p')[0].get_text().lower()
print(type(t))
t=t.split('\n')
print(t)
hts.append(t[6].split(' ')[1])


t=soup.findAll('p')[1].get_text().lower()
print(type(t))
t=t.split('\n')
print(t)
hts.append(t[6].split(' ')[1])
hts

<class 'str'>
['', 'yob: 1990', 'gender: female', 'eye color: green', 'hair color: brown', 'gpa: 4', 'hometown: johnstown', '']
<class 'str'>
['', 'yob: 1993', 'gender: female', 'eye color: brown', 'hair color: black', 'gpa: 3.5', 'hometown: pittston', '']

['johnstown', 'pittston']

In [34]:
#DO NOT MODIFY/DELETE THIS CELL
assert len(hts)==2
assert hts==['johnstown', 'pittston']

### Q10 String operations

1. Given a string `str10` first split the string into words, strip any leading or trailing white space, and convert them to lowercase. 
2. Now using the 'join' operation we learnt in the class, concatenate these words to a new string `str11` with a '-' between each.

For example: str1 is 'it is cold today' to str2 will be: 'it-is-cold-today'

In [35]:

str10 = 'Email the company at xyz@abcd.com and is the easiest way compared to tweet @abcdxyz'
# YOUR CODE HERE

str10=str10.lower().split()
print(str10)
str11='-'.join(str10)
print(str11)

['email', 'the', 'company', 'at', 'xyz@abcd.com', 'and', 'is', 'the', 'easiest', 'way', 'compared', 'to', 'tweet', '@abcdxyz']
email-the-company-at-xyz@abcd.com-and-is-the-easiest-way-compared-to-tweet-@abcdxyz

In [36]:
#DO NOT MODIFY/DELETE THIS CELL
assert len(str11)==83

In [37]:
#DO NOT MODIFY/DELETE THIS CELL

### Q11. Regular Expressions

Create a function called `extract_email` which uses the regular expressions package to extract all the email ids mentioned in a sentence.

For example:

extract_email('Email the company at jondow@franks.com today.')

Should return a list: `['jondow@franks.com']`

In [38]:
#Your answer here
import re
import numpy as np    
str10 = 'Email the company at jondow@franks.com today.'

# YOUR CODE HERE
def extract_email(str10):    
    

    email2 = re.compile(r'\S+@\w+\.[a-z]{3}')
    print(email2)
    print(email2.findall(str10))
    t=email2.findall(str10)
    return t

extract_email(str10)

re.compile('\\S+@\\w+\\.[a-z]{3}')
['jondow@franks.com']

['jondow@franks.com']

In [39]:
#DO NOT MODIFY/DELETE THIS CELL
assert len(extract_email('Email the company at jondow@franks.com today.'))==1
assert extract_email('Email the company at jondow@franks.com today.')==['jondow@franks.com']

re.compile('\\S+@\\w+\\.[a-z]{3}')
['jondow@franks.com']
re.compile('\\S+@\\w+\\.[a-z]{3}')
['jondow@franks.com']

In [40]:
#DO NOT MODIFY/DELETE THIS CELL

In [41]:
#DO NOT MODIFY/DELETE THIS CELL